/* @import "tailwindcss"; */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "plyr/dist/plyr.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: black;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  all: unset;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  max-width: 100%;
}

.modal-content {
  background: linear-gradient(to bottom, #f5d7f4, #e7ddf3, #f2f2f2);
}

.modal-header {
  border: none;
}

.plyr {
  width: 100% !important;
}

.plyr__video-wrapper {
  aspect-ratio: 16 / 9 !important;
  background: black !important;
}

.plyr video {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}
